# MANIFEST.in
include decyphr/report_builder/templates/*.html
include decyphr/report_builder/assets/styles/*.css
include decyphr/report_builder/assets/scripts/*.js
include README.md
include image.png
include image-1.png